@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-kb-bg text-kb-textMain antialiased;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Noto Sans JP", sans-serif;
  }
}
