name = "saas-api"
main = "src/index.ts"
compatibility_date = "2024-11-01"
compatibility_flags = []

[durable_objects]
bindings = [
  { name = "SLOT_LOCK", class_name = "SlotLockV2" }
]

[[kv_namespaces]]
binding = "LINE_BOOKING"
id = "22103efd0bd04365a2ec050a24b3dbc4"

[vars]
BASE_URL = "https://saas-api.hekuijincun.workers.dev"
ADMINS   = "U929e7fcc7a5ed0c4bcbd0c4c9b001815"

[env.staging]
[env.staging.vars]
BASE_URL = "https://saas-api-staging.hekuijincun.workers.dev"
ADMINS   = "U929e7fcc7a5ed0c4bcbd0c4c9b001815"
