name = "saas-api-v4"
main = "src/index.ts"
compatibility_date = "2025-11-12"
minify = true
preview_urls = false

[vars]
BASE_URL = "https://saas-api-v4.hekuijincun.workers.dev"
ADMINS   = "U929e7fcc7a5ed0c4bcbd0c4c9b001815"

[durable_objects]
bindings = [{ name = "SLOT_LOCK", class_name = "SlotLockV4" }]

[[migrations]]
tag = "v1-SlotLockV4"
new_sqlite_classes = ["SlotLockV4"]

[env.staging]
name = "saas-api-staging-v4"
[env.staging.vars]
BASE_URL = "https://saas-api-v4.hekuijincun.workers.dev"
ADMINS   = "U929e7fcc7a5ed0c4bcbd0c4c9b001815"
[env.staging.durable_objects]
bindings = [{ name = "SLOT_LOCK", class_name = "SlotLockV4" }]
[[env.staging.migrations]]
tag = "v1-SlotLockV4"
new_sqlite_classes = ["SlotLockV4"]

[env.production]
name = "saas-api-v4"
[env.production.vars]
BASE_URL = "https://saas-api-v4.hekuijincun.workers.dev"
ADMINS   = "U929e7fcc7a5ed0c4bcbd0c4c9b001815"
[env.production.durable_objects]
bindings = [{ name = "SLOT_LOCK", class_name = "SlotLockV4" }]
[[env.production.migrations]]
tag = "v1-SlotLockV4"
new_sqlite_classes = ["SlotLockV4"]











