name: Deploy Booking UI

on:
  push:
    branches: [ "master" ]

jobs:
  deploy-pages:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Wrangler
        run: npm install -g wrangler@4.48.0

      - name: Deploy Booking UI (Cloudflare Pages)
        run: wrangler pages deploy booking-ui-static --project-name booking-ui --commit-dirty=true